body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.container {
    justify-content: center;
    min-width: 340px;
    max-width: 500px;
    background-color: lightblue;
    padding: 1rem;
    border-radius: 1rem;
    
}

.col {
    display: flex;
    justify-content: center;
}

.col__start {
    justify-content: flex-start;
}

.col__reset {
    justify-content: flex-end;
}

span.time {
    font-size: 3rem;
    text-align: center;
}

.minus__col {
    display: flex;
    justify-content: flex-start;
}
.plus__col {
    display: flex;
    justify-content: flex-end;
}


    






